<header class="site-header">

    <!-- Logo and title -->
    <div class="branding">
        {% if site.avatar %}
        <a href="{{ '/' | relative_url }}">
            <img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" loading="lazy" />
        </a>
        {% endif %}
        <a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
            {{ site.title }}
        </a>
    </div>

    <!-- Toggle menu -->
    <nav class="clear">
        <a aria-label="pull" id="pull" class="toggle" href="#">
            <i class="fas fa-bars fa-lg"></i>
        </a>

        <!-- Menu -->
        <ul class="hide">
            <!-- Static Navigation Links -->
            <li>
                <a class="clear" aria-label="Portfolio" title="Portfolio" href="{{ '/portfolio/' | relative_url }}">
                    <span class="navbar-label">Portfolio</span>
                </a>
            </li>
            <li>
                <a class="clear" aria-label="Resumes" title="Resumes" href="{{ '/resumes/' | relative_url }}">
                    <span class="navbar-label">Resumes</span>
                </a>
            </li>
            <li>
                <a class="clear" aria-label="Contact Me" title="Contact Me" href="{{ '/contact/' | relative_url }}">
                    <span class="navbar-label">Contact Me</span>
                </a>
            </li>

            <!-- Theme Toggle (if enabled) -->
            {% if site.color_theme == 'auto' %}
            <li class="separator"> | </li>
            <li>
                <a id="theme-toggle" title="Toggle Theme" aria-label="Toggle Theme" onclick="themeToggle()"></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
