<header class="site-header">

    <!-- Logo and title -->
    <div class="branding">
        {% if site.avatar %}
        <a href="{{ '/' | relative_url }}">
            <img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" loading="lazy" />
        </a>
        {% endif %}
        <a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
            {{ site.title }}
        </a>
    </div>

    <!-- Toggle menu -->
    <nav class="clear">
        <a aria-label="pull" id="pull" class="toggle" href="#">
            <i class="fas fa-bars fa-lg"></i>
        </a>

        <!-- Menu -->
        <ul class="hide">
            {% for item in site.navigation %}
            <li>
                <a class="clear" aria-label="{{ item.name }}" title="{{ item.name }}" href="{{ item.link | relative_url }}">
                    <span class="navbar-label">{{ item.name }}</span>
                </a>
            </li>
            {% endfor %}

            {% if site.color_theme == 'auto' %}
            <li class="separator"> | </li>
            <li>
                <a id="theme-toggle" title="Toggle Theme" aria-label="Toggle Theme" onclick="themeToggle()"></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
